[submodule "App"]
	path = App
	url = https://github.com/AlphaSphereDotAI/chatacter_backend_app
[submodule "VideoGenerator"]
	path = VideoGenerator
	url = https://github.com/AlphaSphereDotAI/visualizr
[submodule "VoiceGenerator"]
	path = VoiceGenerator
	url = https://github.com/AlphaSphereDotAI/vocalizr
