[submodule "App"]
	path = App
	url = https://github.com/AlphaSphereDotAI/chatacter_backend_app
[submodule "VideoGenerator"]
	path = VideoGenerator
	url = https://github.com/AlphaSphereDotAI/chatacter_backend_video_generator
[submodule "VoiceGenerator"]
	path = VoiceGenerator
	url = https://github.com/AlphaSphereDotAI/chatacter_backend_voice_generator
[submodule "Ollama"]
	path = Ollama
	url = https://github.com/AlphaSphereDotAI/chatacter_backend_ollama.git
