name: Chatacter
services:
  app:
    image: ghcr.io/alphaspheredotai/chattr:latest@sha256:2b656fe8bcb35268cb35f1e2ee5f41cc4153606238f0112f317fc2b70109cc29
    container_name: chattr
    depends_on:
      - VectorDatabase
      - VideoGenerator
      - VoiceGenerator
    volumes:
      - assets:/home/nonroot/assets
      - fastembed:/home/nonroot/fastembed
      - logs:/home/nonroot/logs
    environment:
      MODEL__API_KEY: ${MODEL__API_KEY}
      MODEL__NAME: llama3-70b-8192
      MODEL__URL: https://api.groq.com/openai/v1
      VECTOR_DATABASE__NAME: test
      VECTOR_DATABASE__URL: http://vector_database:6333
    ports:
      - '8000:7860'
    restart: always
    healthcheck:
      interval: 1m30s
      retries: 5
      start_period: 40s
      test:
        - "CMD"
        - "curl"
        - "-o"
        - "/dev/null"
        - "-f"
        - "-s"
        - "-w"
        - "'Status: %{http_code},\tTime: %{time_total}s'"
        - "http://localhost:7860/"
      timeout: 10s
    post_start:
      - command: chown -R nonroot:nonroot /home/nonroot
        user: root
  vector_database:
    image: qdrant/qdrant:latest@sha256:0fb8897412abc81d1c0430a899b9a81eb8328aa634e7242d1bc804c1fe8fe863
    container_name: qdrant
    volumes:
      - qdrant_storage:/qdrant/storage
    ports:
      - '6333:6333'
      - '6334:6334'
    restart: always
  video_generator:
    image: ghcr.io/alphaspheredotai/visualizr:latest@sha256:fb64d1ec688582e2b5119d2e9f2bad271db7dff827b02525a485fa27c5881f86
    container_name: visualizr
    volumes:
      - assets:/home/nonroot/assets
      - fastembed:/home/nonroot/fastembed
      - logs:/home/nonroot/logs
    ports:
      - '8002:7860'
    restart: always
    healthcheck:
      interval: 1m30s
      retries: 5
      start_period: 40s
      test:
        - "CMD"
        - "curl"
        - "-o"
        - "/dev/null"
        - "-f"
        - "-s"
        - "-w"
        - "'Status: %{http_code},\tTime: %{time_total}s'"
        - "http://localhost:7860/"
      timeout: 10s
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    post_start:
      - command: chown -R nonroot:nonroot /home/nonroot
        user: root
  voice_generator:
    image: ghcr.io/alphaspheredotai/vocalizr:latest@sha256:5b71263dddfac9bc442100e9ee0af5690fdc18873f7c2ca69830e90ce99dbd94
    container_name: vocalizr
    volumes:
      - assets:/home/nonroot/assets
      - huggingface:/home/nonroot/hf
      - logs:/home/nonroot/logs
    environment:
      GRADIO_SERVER_PORT: 7860
    ports:
      - '8001:7860'
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    post_start:
      - command: chown -R nonroot:nonroot /home/nonroot
        user: root
volumes:
  huggingface:
