name: Lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: write
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Lint Docker Compose files
        uses: docker-compose-linter/dclint-github-action@18659f6a7956706cb67cf9c1ad5e55f4352cbc17 # v1.6.0
        with:
          path: ./compose.yaml
          fix: true
          disable-rule: "service-image-require-explicit-tag"
      - name: Commit and push applied linter fixes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        if: success() || failure()
        with:
          commit_message: "[dclint] Apply linters fixes"
